nav{
    background-color: aquamarine;
    width: 100%;
    position:absolute;
    right:0px;
    top:0px;
    height: 75px;
    display: flex;
    align-items: center;
}

li{
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.botonCarrito{
    position: relative;
}
